@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Geist:wght@100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme{
    --font-funnelsans: 'Funnel Sans', sans-serif;
}

@theme{
    --font-bricolage: 'Bricolage Grotesque', sans-serif;
}

@theme{
    --font-mona: 'Mona Sans', sans-serif;
}

@theme{
    --font-geist: 'Geist', sans-serif;
}

.font-geist-button {
    font-family: var(--font-geist);
    font-weight: 600;
}